<%- model_class = CinemasMovie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:movie_id) %>:</strong></dt>
  <dd><%= @cinemas_movie.movie_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cinema_id) %>:</strong></dt>
  <dd><%= @cinemas_movie.cinema_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @cinemas_movie.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mon) %>:</strong></dt>
  <dd><%= @cinemas_movie.mon %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tue) %>:</strong></dt>
  <dd><%= @cinemas_movie.tue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wed) %>:</strong></dt>
  <dd><%= @cinemas_movie.wed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thu) %>:</strong></dt>
  <dd><%= @cinemas_movie.thu %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fri) %>:</strong></dt>
  <dd><%= @cinemas_movie.fri %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sat) %>:</strong></dt>
  <dd><%= @cinemas_movie.sat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sun) %>:</strong></dt>
  <dd><%= @cinemas_movie.sun %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cinemas_movies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cinemas_movie_path(@cinemas_movie), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cinemas_movie_path(@cinemas_movie),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
